* {
  margin: 0px;
}

::placeholder {
  font-size: 16px;
  color: #9e9e9e;
}

.introduction {
  height: 100vh;
  background-color: rgb(3, 169, 244);
  color: white;
}

.introduction .introduction-header {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 5vh;
  font-size: 24px;
}

.introduction .feature-list-element {
  width: 100vw;
  background-color: white;
  color: rgb(3, 169, 244);
  position: absolute;
  bottom: 0px;
}
