@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.nav {
  width: 100%;
  display: inline-flex;
}

.nav-header {
}

.nav-item {
  padding: 20px;
}

.nav-ul {
  flex-grow: 2;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.nav-ul-li {
  list-style-type: none;
}

.fa-cart-plus,
.fa-sign-out {
  position: relative;
  left: 0px;
  top: -5px;
}

.link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
